.event-title {
  color: rgba(180, 17, 17, 0.8);
  font-family: "Great Vibes", cursive !important;

  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 2rem !important;

  z-index: 2;
}

.event_wrapper {
  margin-top: 50px;
}
