@import "../../scss/_variables.scss";

.GuestBook {
  background-image: url(https://img.freepik.com/free-photo/concept-wedding-accessories-with-wedding-rings-white-background_185193-69924.jpg?w=2000);
  object-fit: cover;

  position: relative;
  &-title {
    color: $textColorRed;
    font-family: "Great Vibes", cursive !important;

    /* display: flex; */
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    font-size: 2rem !important;
  }
  &-container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }
}
