$textColorRed: rgba(221, 29, 29, 0.8);
$textColorWhite: white;
$backgroundColor_main: rgba(255, 255, 255, 0.8);
$backgroundColor_secondary: rgba(255, 255, 255, 0.8);
$swiperButtonColor: #007aff;
$backGroundColor_primary: #fff8f8;
$heartColor: #f23b43;
